
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1468392799'); /* IE9*/
  src: url('iconfont.eot?t=1468392799#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1468392799') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1468392799') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1468392799#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-400:before { content: "\e636"; }
.icon-401:before { content: "\e637"; }
.icon-404:before { content: "\e638"; }
.icon-429:before { content: "\e639"; }
.icon-500:before { content: "\e63a"; }
.icon-503:before { content: "\e63b"; }
.icon-504:before { content: "\e63c"; }
.icon-add:before { content: "\e63d"; }
.icon-add1:before { content: "\e63e"; }
.icon-add2:before { content: "\e63f"; }
.icon-applicationstore:before { content: "\e640"; }
.icon-ask:before { content: "\e641"; }
.icon-boss:before { content: "\e642"; }
.icon-business:before { content: "\e643"; }
.icon-choice:before { content: "\e644"; }
.icon-chooseright:before { content: "\e645"; }
.icon-circleoffriends:before { content: "\e646"; }
.icon-circular:before { content: "\e647"; }
.icon-circular2:before { content: "\e648"; }
.icon-collection:before { content: "\e649"; }
.icon-comment:before { content: "\e64a"; }
.icon-commodity:before { content: "\e64b"; }
.icon-customerservicehotline:before { content: "\e64c"; }
.icon-delete:before { content: "\e64d"; }
.icon-delete1:before { content: "\e64e"; }
.icon-delete2:before { content: "\e64f"; }
.icon-delivergoods:before { content: "\e650"; }
.icon-down:before { content: "\e651"; }
.icon-edit:before { content: "\e652"; }
.icon-forward:before { content: "\e653"; }
.icon-goodsreceipt:before { content: "\e654"; }
.icon-information:before { content: "\e655"; }
.icon-left:before { content: "\e656"; }
.icon-left1:before { content: "\e657"; }
.icon-left2:before { content: "\e658"; }
.icon-link:before { content: "\e659"; }
.icon-list:before { content: "\e612"; }
.icon-lock:before { content: "\e613"; }
.icon-menu:before { content: "\e614"; }
.icon-comment1:before { content: "\e615"; }
.icon-menu1:before { content: "\e616"; }
.icon-message:before { content: "\e617"; }
.icon-messagecenter:before { content: "\e618"; }
.icon-mycollection:before { content: "\e619"; }
.icon-opinion:before { content: "\e61a"; }
.icon-order:before { content: "\e61b"; }
.icon-order1:before { content: "\e61c"; }
.icon-personal:before { content: "\e61d"; }
.icon-phone:before { content: "\e61e"; }
.icon-phone1:before { content: "\e61f"; }
.icon-picture:before { content: "\e620"; }
.icon-plus:before { content: "\e621"; }
.icon-plus1:before { content: "\e622"; }
.icon-reduce:before { content: "\e623"; }
.icon-reduce1:before { content: "\e624"; }
.icon-right:before { content: "\e625"; }
.icon-right1:before { content: "\e626"; }
.icon-right2:before { content: "\e627"; }
.icon-search:before { content: "\e628"; }
.icon-securitycenter:before { content: "\e629"; }
.icon-coupon:before { content: "\e62b"; }
.icon-data:before { content: "\e62c"; }
.icon-member:before { content: "\e62d"; }
.icon-setup:before { content: "\e62e"; }
.icon-shop:before { content: "\e62f"; }
.icon-shop1:before { content: "\e630"; }
.icon-shoplist:before { content: "\e631"; }
.icon-shoppingguide:before { content: "\e632"; }
.icon-star:before { content: "\e633"; }
.icon-star1:before { content: "\e634"; }
.icon-time:before { content: "\e635"; }
.icon-triangle:before { content: "\e600"; }
.icon-triangle1:before { content: "\e601"; }
.icon-upward:before { content: "\e602"; }
.icon-warning:before { content: "\e603"; }
.icon-warning1:before { content: "\e604"; }
.icon-withdrawals:before { content: "\e605"; }
.icon-yes:before { content: "\e606"; }
.icon-sure:before { content: "\e607"; }
.icon-buffer:before { content: "\e608"; }
.icon-commission:before { content: "\e609"; }
.icon-data1:before { content: "\e60a"; }
.icon-integral:before { content: "\e60b"; }
.icon-integrallift:before { content: "\e60c"; }
.icon-integralrecord:before { content: "\e60d"; }
.icon-introduce:before { content: "\e60e"; }
.icon-presentrecord:before { content: "\e60f"; }
.icon-salesrecords:before { content: "\e610"; }
.icon-warning2:before { content: "\e611"; }
.icon-home:before { content: "\e65a"; }
.icon-people:before { content: "\e65b"; }
.icon-classification:before { content: "\e65c"; }
.icon-people1:before { content: "\e62a"; }
.icon-commodity2:before { content: "\e65d"; }
.icon-circular4:before { content: "\e65e"; }
.icon-coupon1:before { content: "\e65f"; }
.icon-shop3:before { content: "\e660"; }
